
@{
    ViewBag.Title = "Index";
}

<h2>Co Builder tasks assignment</h2>

@Html.ActionLink("Task 1. Get all possitive integers from a list of random integers","Index","TaskOne")
<br />
@Html.ActionLink("Task 2. Banners", "Create", "Banner")